extends layout

block content
  .success-message
    img(src='/images/payment-status/success.png', alt='success')
    | &#x9;&#x9;
    h2.success-message__title Payment Completed
    | &#x9;&#x9;
    .success-message__content
      a(href='/') Back to form
