body
{
	font-family: 'Lucida Grande', Verdana, Tahoma, Arial, Sans-Serif, 'Lucida Sans';
	margin: 0;
	padding: 0;
	background-color: #fff;

}
#container
{
	width: 400px;
	margin: 3em auto;
	color: #222;
	background-color: #00d6b7;
	box-shadow: 0px 1px 8px #bebebe;
}
.header
{	
	width: 100%;
	margin: auto;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}
input,
.btn-pay
{
	font-size: 1.3em;
	display: inline-block;
	width: 100%;
	margin: 8px 0;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
}
input:focus,
.dropdown:focus,
button:focus 
{
	outline: none;
}
.dropdown
{	
	margin: 8px 0;
	padding: 11px 3px;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
}
.form-row input
{
	width: 70%;
}
section
{	
	display: block;
	margin-top: 0;
	padding: 15px 30px;
	background-color: #eee;
}
.form-group label
{
	width: 150px;
	display: block;
	margin-top: 10px;
	text-transform: capitalize;
}
.form-row
{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
.form-row .form-col input{
	text-align: center;
	width: 60%;
}
.btn-edit
{	
	font-family: 'Lucida Grande', Verdana;
	margin: 8px 0;
	padding: 12px 12px;
	border: 2px solid #00d6b7;
	border-radius: 4px;
	background: #fff;
}
.btn-pay
{
	width: auto;
	display: block;
	margin: 20px auto;
	margin-bottom: 0;
	border: 2px solid #00d6b7;
	background: #00d6b7;
	box-shadow: none;
}
.btn-edit:hover
{
	cursor: pointer;
	background-color: #00d6b7;
	border-radius: 4px;
	transition: .2s linear;

}
.btn-pay:hover
{
	cursor: pointer;
	background-color: #fff;
	transition: .2s linear;
}
.btn-lock
{
	height: 18px;
	border-color: transparent;
	margin-top: -2px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	background-position:center;
	background: url(../images/lock.png) center center/contain no-repeat;
	width: 18px;
}
#cardNumber
{
	background-image: url("http://s26.postimg.org/k0sfx51x1/amex.png");
	background-repeat: no-repeat;
	padding-right: 50px;
	background-position: right 2px center;
	background-size: auto 90%;
}


/* angular*/
input.ng-invalid.ng-dirty,
.error
{
	border: 2px solid red; 
}
input.ng-valid,
.dropdown.ng-valid
{
	border: 2px solid #00d6b7;
}
small{
	color: #c00;
	font-style: italic;
}

/*												card icons
.icon_amex {background-image: url("http://s26.postimg.org/k0sfx51x1/amex.png");}
.icon_discover {background-image: url("http://s26.postimg.org/g5p1ukir9/discover.png");}
.icon_mastercard {background-image: url("http://s26.postimg.org/iw2z5i4tx/mastercard.png");}
.icon_visa {background-image: url("http://s26.postimg.org/crgipaj1x/visa.png");}
*/